<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcVIYBLo2IdUSSUljvG3U96pg4Sgx_zRw</string>
	<key>GCM_SENDER_ID</key>
	<string>345070362940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBaseRiverpod</string>
	<key>PROJECT_ID</key>
	<string>flutterriverpod-e903b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterriverpod-e903b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345070362940:ios:fbdce851d1bf6004223e39</string>
</dict>
</plist>